<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.control_bac_system.mapper.ProductMapper">

    <insert id="addProduct" parameterType="com.example.control_bac_system.entity.Product">
        insert into product(productName,productCode,description,createTime)
            value (
            #{product.productName},
            #{product.productCode},
            #{product.description},
            #{product.createTime}
            )
    </insert>

    <delete id="deleteProduct" parameterType="com.example.control_bac_system.entity.Product">
        delete from product where id = #{product.id}
    </delete>

    <select id="selectProductTotal" resultType="java.lang.Integer">
        select count(1) from product
    </select>

    <select id="selectProductByLimit" parameterType="com.example.control_bac_system.entity.PageQuery" resultType="com.example.control_bac_system.entity.Product">
        SELECT
            x.id,
            x.parent_id,
            x.product_name,
            x.product_code,
            x.description,
            x.price,
            DATE_FORMAT( FROM_UNIXTIME( x.create_time / 1000 ), '%Y-%m-%d %H:%i:%s' ) AS createTime,
            IF(y.num>0,1,0) AS hasChildren
        FROM
                ( SELECT * FROM `product` WHERE parent_id = #{pageQuery.id} ) x
                    LEFT JOIN (
                SELECT
                    a.id,
                    COUNT( 1 ) AS num
                FROM
                        ( SELECT * FROM `product` WHERE parent_id = #{pageQuery.id} ) a
                            LEFT JOIN product p ON a.id = p.parent_id
                WHERE
                    p.id IS NOT NULL
                GROUP BY
                    a.id
            ) y ON x.id = y.id

        ORDER BY create_time DESC
        <if test="pageQuery.start > 0 and pageQuery.end > 0">
            limit #{pageQuery.start},#{pageQuery.end}
        </if>

    </select>
</mapper>