<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.control_bac_system.mapper.UserMapper">
    <select id="selectUserByUsername" parameterType="java.lang.String" resultType="com.example.control_bac_system.entity.UserInfo">
        select id,username,password,phoneNumber,email,updateTime,createTime from user where username = #{username}
    </select>

    <select id="selectUserRoleByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select permission_code from permissoin p
        left join role_permission rp on rp.permission_id = p.id
        left join role r on r.id = rp.role_id
        left outer join user_role ur on r.id = ur.role_id
        left join user u on u.id = ur.user_id
        where u.id =  #{userId}
    </select>

    <select id="selectAllUserInfo" parameterType="com.example.control_bac_system.entity.PageQuery" resultType="com.example.control_bac_system.entity.UserInfo">
        select
            id,
            username,
            phoneNumber,
            email,
            status,
            DATE_FORMAT(FROM_UNIXTIME(updateTime/1000),'%Y-%m-%d %H:%i:%s') as updateTime,
            DATE_FORMAT(FROM_UNIXTIME(createTime/1000),'%Y-%m-%d %H:%i:%s') as createTime
        from
            user
        <where>
            <if test="pageQuery.phoneNumber != null and pageQuery.phoneNumber != ''">
                phoneNumber = #{pageQuery.phoneNumber}
            </if>
            <if test="pageQuery.status != null and pageQuery.status != ''">
                and status = #{pageQuery.status}
            </if>
        </where>
        ORDER BY updateTime DESC
        limit #{pageQuery.start},#{pageQuery.end}
    </select>

    <select id="selectUserTotal" parameterType="com.example.control_bac_system.entity.PageQuery" resultType="java.lang.Integer">
        select
        count(1)
        from
        user
        <where>
            <if test="pageQuery.phoneNumber != null and pageQuery.phoneNumber != ''">
                phoneNumber = #{pageQuery.phoneNumber}
            </if>
            <if test="pageQuery.status != null and pageQuery.status != ''">
                and status = #{pageQuery.status}
            </if>
        </where>
    </select>

    <insert id="createUser" parameterType="com.example.control_bac_system.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,phoneNumber,email,updateTime,createTime) value(
            #{userInfo.username}, #{userInfo.password}, #{userInfo.phoneNumber}, #{userInfo.email}, #{userInfo.updateTime}, #{userInfo.createTime}
        );
    </insert>

    <update id="deleteUser" parameterType="java.lang.Integer">
        update user set status=#{status} ,updateTime=UNIX_TIMESTAMP(NOW())*1000 where id = #{userId}
    </update>

    <update id="updateUser" parameterType="com.example.control_bac_system.entity.UserInfo">
        update user set
                        username = #{userInfo.username},
                        phoneNumber=#{userInfo.phoneNumber},
                        email=#{userInfo.email},
                        email=#{userInfo.updateTime}
        where id = #{userInfo.id}
    </update>

    <update id="updatePassword" parameterType="com.example.control_bac_system.entity.UserInfo">
        update user set password=#{userInfo.password} where id = #{userInfo.id}
    </update>

    <select id="selectUrlsByRoles" parameterType="java.util.List" resultType="java.lang.String">
<!--        select p.permission_value from permissoin p-->
<!--        left join role_permission rp on rp.permission_id = p.id-->
<!--        left join role r on r.id = rp.role_id-->
<!--        where r.role_name in-->
<!--        <foreach item="item" collection="roles" separator="," open="(" close=")" index="">-->
<!--            #{item}-->
<!--        </foreach>-->
        select permission_value from permissoin where permission_code in
        <foreach item="item" collection="roles" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

    <select id="selectAllUrlsByRoles" resultType="java.lang.String">
        select permission_value from permissoin
    </select>
    <select id="selectAllUserInfoList" resultType="com.example.control_bac_system.entity.vo.UserInfoVo">
        select id,username,phoneNumber,email,status,
            DATE_FORMAT(FROM_UNIXTIME(updateTime/1000),'%Y-%m-%d %H:%i:%s') as updateTime,
                DATE_FORMAT(FROM_UNIXTIME(createTime/1000),'%Y-%m-%d %H:%i:%s') as createTime
        from user where status = 0
    </select>
</mapper>