<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.control_bac_system.mapper.UserMapper">
    <select id="selectUserByUsername" parameterType="java.lang.String" resultType="com.example.control_bac_system.entity.UserInfo">
        select id,username,password,phoneNumber,email,updateTime,createTime from user where username = #{username}
    </select>

    <select id="selectUserRoleByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
        select r.role_name from user_role ur left join role r on r.id = ur.role_id where ur.user_id = #{userId}
    </select>

    <select id="selectAllUserInfo" resultType="com.example.control_bac_system.entity.UserInfo">
        select
            id,
            username,
            phoneNumber,
            email,
            status,
            DATE_FORMAT(FROM_UNIXTIME(updateTime/1000),'%Y-%m-%d %H:%i:%s') as updateTime,
            DATE_FORMAT(FROM_UNIXTIME(createTime/1000),'%Y-%m-%d %H:%i:%s') as createTime
        from
            user;
    </select>

    <insert id="createUser" parameterType="com.example.control_bac_system.entity.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,phoneNumber,email,updateTime,createTime) value(
            #{userInfo.username}, #{userInfo.password}, #{userInfo.phoneNumber}, #{userInfo.email}, #{userInfo.updateTime}, #{userInfo.createTime}
        );
    </insert>

    <update id="deleteUser" parameterType="java.lang.Integer">
        update user set status=#{status} ,updateTime=UNIX_TIMESTAMP(NOW())*1000 where id = #{userId}
    </update>

    <update id="updateUser" parameterType="com.example.control_bac_system.entity.UserInfo">
        update user set
                        username = #{userInfo.username},
                        phoneNumber=#{userInfo.phoneNumber},
                        email=#{userInfo.email},
                        email=#{userInfo.updateTime}
        where id = #{userInfo.id}
    </update>

    <update id="updatePassword" parameterType="com.example.control_bac_system.entity.UserInfo">
        update user set password=#{userInfo.password} where id = #{userInfo.id}
    </update>
</mapper>